* {
  background-color: rgb(37, 37, 37);
  color: wheat;
}
a {
  text-decoration: none;
  &:hover {
    color: lightblue;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  font-weight: 600;
}
h1 {
  text-align: center;
  margin-top: 300px;
  font-size: 48px;
}
