a {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  color: white;
  &:hover {
    color: tomato;
  }
}
h1 {
  text-align: center;
  margin-top: 300px;
  color: teal;
  font-size: 48px;
  text-transform: capitalize;
}
* {
  background-color: rgb(47, 46, 46);
}
